<html>
    <head>
        <title>Django blog</title>
    </head>
    <body>
    	<h3><p>Hello!</p></h3>
        <h3><p>Good Morning Hathudi</p></h3>
        <div>
            <h1><a href="/">Game of Thrones Blog</a></h1>
        </div>

        {% for post in posts %}
    		<div>
		        <p>published: {{ post.published_date }}</p>
		        <h1><a href="">{{ post.title }}</a></h1>
		        <p>{{ post.text|linebreaksbr }}</p>
		    </div>
		{% endfor %}

        <div>
            <p>published: 05.02.2018, 04:08 AM</p>
            <h2><a href="">My second post</a></h2>
            <p>The eighth and final season of the fantasy drama television series Game of Thrones was confirmed by HBO in July 2016. The eighth season will consist of only six episodes, and is set to air in 2019.</p>
        </div>
    </body>
</html>